* {
  box-sizing: border-box; }

/*insert custom css below*/

h1 {
  font size: 30px;
  
}

h1 small{
  font size: 13px;
}


.box {
  border-style: solid;
  width: 500px;
  height: 700px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
}
