* {
  box-sizing: border-box; }

/*insert custom css below*/

h1 {
  font size: 30px;
  
}

small{
  font size: 13px;
}


.box {
  border-style: solid;
  width: 370px;
  height: initial;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}
}
